*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    background-color: black;
    height: 50px;
}
.header ul li{
    list-style: none;
    display: inline-block;
    padding-left: 40px;
    margin-top: 15px;
}

.header ul li a{
    color: white;
}
